[submodule "xv6-syscall"]
	path = xv6-lseek
	url = git@github.com:jaeunda/xv6-syscall.git
[submodule "os-p1-syscall"]
	path = xv6-lseek
	url = git@github.com:jaeunda/os-p1-syscall.git
[submodule "os-p2-scheduler"]
	path = xv6-scheduler
	url = git@github.com:jaeunda/os-p2-scheduler.git
[submodule "os-p3-tracking-pageframe"]
	path = xv6-tracking-pageframe
	url = git@github.com:jaeunda/os-p3-tracking-pageframe.git
[submodule "os-p4-snapshot"]
	path = xv6-snapshot
	url = git@github.com:jaeunda/os-p4-snapshot.git
